*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 800px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 50px auto;
}

/* .form-control{
    width: 700px;
    padding: 6px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #DEE2E6;
} */

/* table{
    max-width: 800px;
    margin: 1.5rem auto;
    text-align: center;
} */

.fa-trash-can{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}